.App {
  text-align: center;
}

.heading {
  color: white;
  border: rgb(38, 0, 128) solid 2px;
  margin: 15px ;
  padding: 5px;  
  background-color: rgb(38, 0, 128);
  border-radius: 5px;
}

.queAndAns {

  border: rgb(38, 0, 128) dotted 2px;
  margin: 5px 15px;
  padding-bottom: 15px;
  background-color: lightgrey;
  border-radius: 5px;
  
}

.question {
  color: rgb(38, 0, 128);
  
}

.answer {
  color: black;
}

.disappear {
  display: none;
}

.appear {
border-radius: 5px;
background-color: rgb(38, 0, 128);
color: white;
padding: 3px 7px;
cursor: pointer;

}