.App {
  text-align: center;
}

.queAndAns {

  border: rgb(38, 0, 128) dotted 1px;
  margin: 5px 15px;
  padding-bottom: 5px;
  
}

.question {
  color: rgb(231, 109, 109);
  
}

.answer {
  color: rgb(113, 161, 113);
  font-style: italic;
}

.disappear {
  display: none;
}

.appear {
border-radius: 5px;
background-color: rgb(53, 6, 88);
color: white;
padding: 3px 7px;
cursor: pointer;

}